<html>

<head>
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- ROS stuff -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/eventemitter2/lib/eventemitter2.min.js">
    </script>
    <script type="text/javascript" src="https://s3.eu-west-1.amazonaws.com/rosject.io/js/roslib.min.js">
    </script>
    <!-- Vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js">
    </script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title custom-font-super-cell has-text-centered">
                <img src="robot-icon.png" alt="Robot Icon" class="icon"> TortoiseBot WebApp
            </h1>
            <p class="subtitle has-text-centered">
                A simple web application to control your TortoiseBot
            </p>
        </div>
    </section>
    <div id="app" class="container">
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-primary">
                        <p class="title">Connection status</p>
                        <p class="subtitle has-text-danger" v-if="!connected">Not connected!</p>
                        <p class="subtitle has-text-success" v-if="connected">Connected!</p>
                        <div class="content">
                            <!-- ... -->
                            <label>ROSBridge address</label>
                            <br>
                            <input class="input" type="text" v-model="rosbridge_address" />
                            <br><br>
                            <button :disabled="loading" class="button is-danger" @click="disconnect"
                                v-if="connected">Disconnect!</button>
                            <button :disabled="loading" class="button is-success" @click="connect"
                                v-else>Connect!</button>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-warning">
                        <p class="title">Logs</p>
                        <div class="content">
                            <!-- ... -->
                            <p v-for="log in logs">{{ log }}</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-8 is-vertical">
                <div class="tile">
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-info">
                            <p class="title">Robot model</p>
                            <div class="content">
                                <!-- ... -->
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-success">
                            <p class="title">Generated Map</p>
                            <div class="content">
                                <!-- ... -->
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile">
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-danger">
                            <p class="title">Camera</p>
                            <div class="content">
                                <!-- ... -->
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-primary">
                            <p class="title">Commands</p>
                            <div class="content">
                                <div class="field">
                                    <label class="label">Goal</label>
                                    <div class="field has-addons">
                                        <div class="control">
                                            <label class="label">X</label>
                                            <input class="input" type="number" v-model.number="action.goal.position.x" />
                                        </div>
                                        <div class="control">
                                            <label class="label">Y</label>
                                            <input class="input" type="number" v-model.number="action.goal.position.y" />
                                        </div>
                                    </div>
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <button class="button is-link" :disabled="!connected || action.status.status == 1" @click="sendGoal">Start</button>
                                        </div>
                                        <div class="control">
                                            <button class="button is-link is-light" :disabled="!connected || ![1].includes(action.status.status)" @click="cancelGoal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div>
                                    <label class="label text-muted">Feedback</label>
                                    <p>Position: {{ action.feedback.position }}</p>
                                    <p>State: {{ action.feedback.state }}</p>
                                </div>
                                <hr />
                                <div>
                                    <label class="label text-muted">Result</label>
                                    <p>Succeeded? {{ action.result.success }}</p>
                                </div>
                                <hr />
                                <div>
                                    <label class="label text-muted">Status</label>
                                    <p>{{ action.status.text }}</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // We could have loaded main.js simply with:
        //  <script type="text/javascript" src="main.js">
        //
        // BUT we were having caching-related problems.
        // Loading main.js with a Date.now() in the URL we avoid using cache
        var script1 = document.createElement('script');
        script1.type = 'module';
        script1.src = 'rosConnection.js?v=10.' + Date.now();
        document.head.appendChild(script1);

        var script2 = document.createElement('script');
        script2.type = 'module';
        script2.src = 'actionClient.js?v=10.' + Date.now();
        document.head.appendChild(script2);

        var script_main = document.createElement('script');
        script_main.type = 'module';
        script_main.src = 'main.js?v=10.' + Date.now();
        document.head.appendChild(script_main);
    </script>
</body>

</html>